body {
	width: 300px;
	min-height: 140px;
	border-radius: 4px;
	padding: 10px;
	padding-bottom: 0;
	box-sizing: border-box;
}
#curpage {
	font-size: 14px;
	color: #666;
	margin-bottom: 12px;
	font-weight: bold;
}
#mainbox div:nth-child(2), #mainbox div:nth-child(3), #mainbox div:nth-child(4) {
	display: none;
}
#guide {
	margin-bottom: 16px;
}
#guidence {
	width: 100%;
	height: 40px;
	font-size: 14px;
	border: 1px solid #39b54a;
	color: #39b54a;
	background-color: transparent;
	border-radius: 4px;
	outline: none;
	transition: all .3s ease;
	margin-bottom: 12px;
}
#guidence:hover {
	background-color: #39b54a;
	color: #fff;
}
#deletecover {
	width: 100%;
	height: 40px;
	font-size: 14px;
	border: 1px solid #1cbbb4;
	color: #1cbbb4;
	background-color: transparent;
	border-radius: 4px;
	outline: none;
	transition: all .3s ease;
	margin-bottom: 16px;
}
#deletecover:hover {
	background-color: #1cbbb4;
	color: #fff;
}
#widthset {
	width: 100%;
	height: 40px;
	line-height: 40rpx;
	padding: 6px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #0081ff;
	background-color: #fff;
	margin: 4px 0 16px 0;
	border-radius: 4px;
}
#keepbgdiv {
	margin-bottom: 16px;
}
#cutlogo {
	margin-bottom: 16px;
}
#execute {
	width: 100%;
	height: 40px;
	font-size: 14px;
	background-color: #0081ff;
	color: #fff;
	border-radius: 4px;
	outline: none;
	border:none;
	transition: all .3s ease;
}
#execute:hover {
	background-color: rgb(83, 168, 255);
}
#ans {
	color: #e54d42;
	font-size: 14px;
	margin: 8px 0;
}
#loc {
	color: #999;
	font-style: italic;
}